* {
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #131218;
}

.main {
    width: 540px;
    max-width: 96%;
}

.header {
    position: relative;
    height: 80px;
    margin-bottom: 24px;
    background-color: #24232B;
}

.heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 28px;
    color: hsl(251, 9%, 53%);
}

.inputValue {
    font-size: 28px;
    font-weight: 700;
    height: 100%;
    width: 100%;
    padding: 0 70px 0 32px;
    border: 0;
    outline: 0;
    color: hsl(252, 11%, 91%);
    background-color: transparent;
}

.copyIcon {
    position: absolute;
    right: 6%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.copyIcon:hover {
    filter: brightness(0) invert(1);
}

.copyIcon:active {
    opacity: 0.6;
}

.section {
    padding: 32px;
    background-color: #24232B;
}

.characterLengthHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.characterLength {
    font-size: 18px;
    color: hsl(252, 11%, 91%);
}

.characterLengthValue {
    font-size: 28px;
    font-weight: 700;
    color: rgb(163,255,174);
}

.range {
    background: linear-gradient(to right, hsl(127, 100%, 82%) 0%, hsl(127, 100%, 82%) 1%, hsl(248, 15%, 11%) 1%, hsl(248, 15%, 11%) 100%);
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 8px;
    margin-bottom: 36px;
    outline: none;
    -webkit-appearance: none;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #e6e6e6;
    cursor: pointer;
}
.range::-webkit-slider-thumb:hover {
    border: 2px solid rgb(163,255,174);
    background: #131218;
}

.range::-moz-range-thumb {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #e6e6e6;
    cursor: pointer;
}
.range::-moz-range-thumb:hover {
    border: 2px solid rgb(163,255,174);
    background: #131218;
}

.checkboxHolder {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.checkboxValuesHolder {
    position: relative;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    padding-left: 35px;
    margin-bottom: 19px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxHidden {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.labelText{
    font-weight: 700;
    margin-bottom: 2px;
    color: hsl(252, 11%, 91%);
}

.checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin-top: 2px;
    border: 2px solid white;
    background-color: transparent;
}
  
.checkboxValuesHolder:hover .checkbox {
    border: 2px solid hsl(127, 100%, 82%);
}
  
.checkboxHidden:checked + .checkbox {
    border: 2px solid hsl(127, 100%, 82%);
    background-color: hsl(127, 100%, 82%);
}
  
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}
  
.checkboxHidden:checked + .checkbox:after {
    display: block;
}

.checkbox:after {
    content: url('assets/images/icon-check.svg');
    position: absolute;
    top: -3px;
    right: 1px;
}

.strengthHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 18px 16px;
    margin-bottom: 32px;
    background-color: hsl(248, 15%, 11%);
}

.strengthP {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(251, 9%, 53%);
}

.strengthIndicatorP {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 10px;
    color: hsl(252, 11%, 91%);
}

.strengthIndicatorHolder {
    display: flex;
    align-items: center;
    gap: 8px;
}

.strengthIndicator {
    width: 10px;
    height: 28px;
    border: 2px solid white;
    background-color: transparent;
}

.generateButton {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    height: 64px;
    border: 0;
    background-color: hsl(127, 100%, 82%);
    cursor: pointer;
}

.generateButton:hover {
    color: hsl(127, 100%, 82%);
    background-color: hsl(247, 11%, 15%);
}

.arrowRight {
    padding-left: 6px;
}

.hidden {
    display: none !important;
}

@media screen and (max-height: 730px) {
    body {
        height: auto;
    }

    .main {
        margin: 40px 0;
    }
}

@media screen and (max-width: 460px) {
    .inputValue {
        font-size: 24px;
        padding: 0 45px 0 20px;
    }

    .copyIcon {
        right: 15px;
    }

    .section {
        padding: 20px;
    }

    .strengthHolder {
        height: auto;
    }

    .strengthP {
        font-size: 16px;
    }

    .strengthIndicatorP {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .inputValue{
        font-size: 22px;
    }

    .section {
        padding: 14px;
    }

    .checkboxValuesHolder {
        font-size: 16px;
    }

    .checkbox:after {
        top: -1px;
    }

    .strengthHolder {
        padding: 14px 10px;
    }

    .strengthIndicatorP {
        font-size: 18px;
        margin-right: 0;
    }
}

@media screen and (max-width: 350px) {
    .inputValue {
        font-size: 20px;
    }
}
